<?xml version="1.0" encoding="UTF-8"?>
<suite name="Main" verbose="10" parallel="methods" thread-count="2" data-provider-thread-count="5">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="com.epiphan.qa.tests.reports.CSVReporter"/>
    </listeners>
    <suite-files>
        <suite-file path="./suites/MD-XXXX.xml"/>"
    </suite-files>
</suite>
