<?xml version="1.0" encoding="UTF-8"?>
	<suite name="Epiphan Test Suite [MD-XXXX]" verbose="10" parallel="methods" thread-count="10">
		<listeners>
			<listener class-name="org.uncommons.reportng.HTMLReporter"/>
			<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
			<listener class-name="com.epiphan.qa.tests.reports.CSVReporter"/>
		</listeners>
			<test name="MD-3993">
				<classes>
					<class name="com.epiphan.qa.tests.MD3993"/>
				</classes>
			</test>
			<test name="DPST">
				<classes>
					<class name="com.epiphan.qa.tests.DataProviders"/>
				</classes>
			</test>
	</suite>
